/* 
	Document   : style
	Created on : 05.11.2013, 12:28:30
	Author     : Ilya
	Description:
	Purpose of the stylesheet follows.
*/

html, body {
	margin: 0;

}

h1, h2, h3 {
	margin: 0;
	font-weight: 400;
	color: #333;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.2;
}

#parkwhiz-widget-container {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	white-space: nowrap;
}

ul.parking,
ul.events {
	overflow: auto;
	margin: 0;
	padding: 0;
}

ul.parking {
	height: 350px;
}

ul.events {
	height: 200px;
}

ul.parking li,
ul.events li {
	border-top: 1px solid #ddd;
	list-style: none;
	white-space: normal;
}

ul.parking li {
	padding: 0;
}

ul.events li {
	padding: 6px;
}

ul.parking li a,
ul.events li a {
	text-decoration: none;
	color: #0f5ebc;
	display: block;
	line-height: 30px;
}

ul.parking li a {
	padding: 6px;
}

ul.parking li a:hover,
ul.events li:hover {
	text-decoration: none;
	background: #0f5ebc;
	color:#fff;
	cursor: pointer;
}

ul.events li.active,
ul.parking li.active a {
	text-decoration: none;
	background: #0f5ebc;
	color:#fff;
}

.rail {
	display: inline-block;
	height: 400px;
	width: 200px;
}

.mod {
	background: #f8f8f8;
	margin-top: 4px;
}

.mod h2 {
	line-height: 40px;
	padding: 0 6px;
	margin: 0;
}

.datepair {
	padding: 0 10px 9px;
}

.datepair .time {
	width: 50px;
	padding: 5px;
}

.datepair .date {
	width: 70px;
	padding: 5px;
}

.parking-map-widget-container {
	display: inline-block;
}

.additionalPlaces {
	background-color: rgba(20, 120, 20, 0.4);
	cursor: pointer;
	color: white;
}

.map-button {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
	border: none;
	background: #0f5ebc;
	color: white;
	text-transform: uppercase;
	font-size: 14px !important;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700 !important;
	display: inline-block;
	padding: 10px;
	line-height: 1;
	position: relative;
	margin: 0 10px;
}

.event-title {
	padding-left: 76px;
	padding-right: 86px;
}

.psf {
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .9);
	padding: 10px;
	cursor: pointer;
	width: 200px;
	text-align: left;
}

.control {
	padding: 5px;
}

.control-text {
	padding-left: 4px;
	padding-right: 4px;
	font-size: 12px;
	display: inline-block;
}

.control-text span {
	font-weight: bold;
	font-size: 12px;
}

.cluster {
	background: #0f5ebc;
	color: #fff;
	border: 2px solid #fff;
	padding:10px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 14px !important;
	text-align: center;
	line-height: 15px;
}

.active {
	z-index:1000 !important;
}

.active .cluster {
	background: #fff;
	color: #0f5ebc;
	border: 2px solid #0f5ebc;
}

.hide {
	display: none;
}

.zoom_control {
	margin: 10px;
	width: 140px;
	height: 39px;
	background: url('/images/zoom-out.png') top left no-repeat;
	white-space: nowrap;
	text-indent: 100%;
	cursor: pointer;
}

.zoom_control:hover {
	background: url('/images/zoom-out-hover.png') top left no-repeat;
}

.marker_label {

	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-clip: padding-box;

	border: 1px solid #333;
	background: #fff;

	-webkit-box-shadow: 0 0 4px 0 #000;
	box-shadow: 0 0 4px 0 #000;

	padding: 5px;

	position: relative;
	left: -50%;

	z-index: 10;
	text-align: center;

	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.marker_label span {
	color: #00f;
	text-decoration: underline;
}

.static_label span {
	display: none;
}